openapi: 3.0.0
info:
  title: Описание интерфейса Rest API ПроФреш
  version: '2.6'
  description: "# Общее описание\n
    Обмен осуществляется отправкой запросов на сервер лог провайдера.

    Ваш базовый идентификатор WMSID - это код, который предоставляет вам лог.
    провайдер при заключении договора о сотрудничестве.


    Все даты при обмене необходимо указывать по стандарту RFC 3339 (YYYY-MM-DDTHH:MM:SSZ)


    Авторизация: метод авторизации Basic Auth (указание логина и пароля) +
    APIKEY в Заголовке запроса (имя поля apikey). Данные авторизации
    предоставляются отдельно по письменному запросу к лог. оператору. Сначала для
    тестового контура, после отладки к рабочему.


    Полезные ссылки:

     - [Сайт компании ООО ПроФреш](https://profresh.ru/)\n
     - [Описание в оригинальном swagger-формате](https://app.swaggerhub.com/apis-docs/profresh.pro/wmsapidocv2)
    "
  contact:
    name: ПроФреш API Support
    url: https://profresh.ru/api/docv2/
    email: it.prog@profresh.pro
  
servers:
  - url: https://api.profresh.ru/sklad_api_test/hs/wmsapi  
    description: Тестовый API сервер
  - url: https://api.profresh.ru/"Требуемый склад"/hs/wmsapi
    description: Рабочий API сервер

tags:
- name: 1. Заказ
- name: 2. Поступление
- name: 3. Дополнительно

paths:
  /PostShipment:
    post:
      tags:
      - 1. Заказ
      summary: 1.1. Загрузить заказы [postshipment]
      description: Создать / обновить Заявку на ОТГРУЗКУ. Обновление возможно только для взятия документа в работу на складе лог. провайдера. После взятия заявки в работу допускается изменение доп. данных заявки через отдельный метод updateshipment
      operationId: postshipment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestBody_PostShipment'
      responses:
        200:
          description: 'ОК'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBody_PostShipment'
        400:
          description: >-
            Ошибка в парамтерах со стороны поставщика, не указан входной
            параметр WMSID
        401:
          description: Ошибка аутентификации (логин, пароль, apikey)
        403:
          description: Не настроен API доступ стороны лог. провайдера
        404:
          description: Ошибка со стороны лог. провайдера блокировка параллельной обработкой данных
        5XX:
          description: >-
            Ошибка сервера лог. провайдера. Отправьте запрос повторно. В случае
            повторения ошибки сообщите лог. провайдеру на почту
            it.prog@profresh.pro
      parameters:
        - name: wmsid
          in: query
          description: >-
            Код клиента, выдается лог. провайдером при заключении договора о сотрудничестве
          required: true
          schema:
            type: string
          example: "0033"
        - name: action
          in: query
          description: >-
            Имя метода
          required: true
          schema:
            type: string
          example: "postshipment"
          
  /UpdateShipment:
    post:
      tags:
        - 1. Заказ
      summary: 1.2. Обновить доп. данных заказов [updateshipment]
      description: Запрос на обновление дополнительной информации по взятой в работу Заявке на ОТГРУЗКУ (номер накладной, список точек перегруза для Меркурий, гос. номер авто-ля самовывоза для Меркурий)
      operationId: updateshipment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestBody_UpdateShipment'
      responses:
        200:
          description: ОК
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsBody'
        400:
          description: 'Ошибка в парамтерах со стороны поставщика, не указан входной
            параметр WMSID
            '
        401:
          description: 'Ошибка аутентификации (логин, пароль, apikey)'
        403:
          description: 'Не настроен API доступ стороны лог. провайдера'
        404:
          description: 'Ошибка со стороны лог. провайдера блокировка параллельной обработкой данных'
        5XX:
          description: 'Ошибка сервера лог. провайдера. Отправьте запрос повторно. В случае
            повторения ошибки сообщите лог. провайдеру на почту it.prog@profresh.pro
            '
      parameters:
        - name: wmsid
          in: query
          description: >-
            Код клиента, выдается лог. провайдером при заключении договора о
            сотрудничестве
          required: true
          schema:
            type: string
          example: "0033"
        - name: action
          in: query
          description: >-
            Имя метода
          required: true
          schema:
            type: string
          example: "updateshipment"

  /PostReception:
    post:
      tags:
        - 2. Поступление
      summary: 2.1. Загрузить поступления [postreception]
      description: Создать / обновить заявку на приемку
      operationId: postreception
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestBody_PostReception'
      responses:
        200:
          description: 'ОК'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBody_PostReception'
        400:
          description: 'Ошибка в парамтерах со стороны поставщика, не указан входной
            параметр WMSID
            '
        401:
          description: 'Ошибка аутентификации (логин, пароль, apikey)'
        403:
          description: 'Не настроен API доступ стороны лог. провайдера'
        404:
          description: 'Ошибка со стороны лог. провайдера блокировка параллельной обработкой данных'
        5XX:
          description: 'Ошибка сервера лог. провайдера. Отправьте запрос повторно. В случае
            повторения ошибки сообщите лог. провайдеру на почту it.prog@profresh.pro
            '
      parameters:
        - name: wmsid
          in: query
          description: >-
            Код клиента, выдается лог. провайдером при заключении договора о
            сотрудничестве
          required: true
          schema:
            type: string
          example: "0033"
        - name: action
          in: query
          description: >-
            Имя метода
          required: true
          schema:
            type: string
          example: "postreception"          
  
  /GetChanges:
    post:
      tags:
        - 3. Дополнительно
      summary: 3.1. Получить измененные заказы и поступления [getchanges]
      description: Получение списка изменений и результатов обработки заявок (с возможностью отбора)
      operationId: getchenges
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestBody_GetChanges'
            
      responses:
        200:
          description: 'ОК'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBody_GetChanges'
        400:
          description: 'Ошибка в парамтерах со стороны поставщика, не указан входной
            параметр WMSID
            '
        401:
          description: 'Ошибка аутентификации (логин, пароль, apikey)'
        403:
          description: 'Не настроен API доступ стороны лог. провайдера'
        404:
          description: 'Ошибка со стороны лог. провайдера блокировка параллельной обработкой данных'
        5XX:
          description: 'Ошибка сервера лог. провайдера. Отправьте запрос повторно. В случае
            повторения ошибки сообщите лог. провайдеру на почту it.prog@profresh.pro
            '
      parameters:
        - name: wmsid
          in: query
          description: >-
            Код клиента, выдается лог. провайдером при заключении договора о
            сотрудничестве
          required: true
          schema:
            type: string
          example: "0033"
        - name: action
          in: query
          description: >-
            Имя метода
          required: true
          schema:
            type: string
          example: "getchanges"

  /GetFilesReturn:
    post:
      tags:
        - 3. Дополнительно
      summary: 3.2. Получить документ вида для Поставщика на дату [getfilesreturn]
      description: Получение в двоичных данных печатной формы выбранного типа документа в формате PDF
      operationId: getfilesreturn
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestBody_GetFilesReturn'
            
      responses:
        200:
          description: 'ОК'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBody_GetFilesReturn'
        400:
          description: 'Ошибка в парамтерах со стороны поставщика, не указан входной
            параметр WMSID
            '
        401:
          description: 'Ошибка аутентификации (логин, пароль, apikey)'
        403:
          description: 'Не настроен API доступ стороны лог. провайдера'
        404:
          description: 'Ошибка со стороны лог. провайдера блокировка параллельной обработкой данных'
        5XX:
          description: 'Ошибка сервера лог. провайдера. Отправьте запрос повторно. В случае
            повторения ошибки сообщите лог. провайдеру на почту it.prog@profresh.pro
            '
      parameters:
        - name: wmsid
          in: query
          description: >-
            Код клиента, выдается лог. провайдером при заключении договора о
            сотрудничестве
          required: true
          schema:
            type: string
          example: "0033"
        - name: action
          in: query
          description: >-
            Имя метода
          required: true
          schema:
            type: string
          example: "getfilesreturn"

  /GetRests:
    post:
      tags:
        - 3. Дополнительно
      summary: 3.3. Получить остатки [getrests]
      description: "Запрос на получение остатков товара (текущих или с отбором по дате). Так же возможно получение остаков конкретного товара по его коду товара."
      operationId: getrests
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestBody_GetRests'
      responses:
        200:
          description: 'ОК'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBody_GetRests'
        400:
          description: 'Ошибка в парамтерах со стороны поставщика, не указан входной
            параметр WMSID
            '
        401:
          description: 'Ошибка аутентификации (логин, пароль, apikey)'
        403:
          description: 'Не настроен API доступ стороны лог. провайдера'
        404:
          description: 'Ошибка со стороны лог. провайдера блокировка параллельной обработкой данных'
        5XX:
          description: 'Ошибка сервера лог. провайдера. Отправьте запрос повторно. В случае
            повторения ошибки сообщите лог. провайдеру на почту it.prog@profresh.pro
            '
      parameters:
        - name: wmsid
          in: query
          description: >-
            Код клиента, выдается лог. провайдером при заключении договора о
            сотрудничестве
          required: true
          schema:
            type: string
          example: "0033"
        - name: action
          in: query
          description: >-
            Имя метода
          required: true
          schema:
            type: string
          example: "getrests"

  /GetConfirm:
    post:
      tags:
        - 3. Дополнительно
      summary: 3.4. Получить подтверждение доставки запросов [getconfirm]
      description: "Запрос на получение подтверждения доставки запроса."
      operationId: getconfirm
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestBody_GetConfirm'
      responses:
        200:
          description: 'ОК'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBody_GetConfirm'
        400:
          description: 'Ошибка в парамтерах со стороны поставщика, не указан входной
            параметр WMSID
            '
        401:
          description: 'Ошибка аутентификации (логин, пароль, apikey)'
        403:
          description: 'Не настроен API доступ стороны лог. провайдера'
        404:
          description: 'Ошибка со стороны лог. провайдера блокировка параллельной обработкой данных'
        5XX:
          description: 'Ошибка сервера лог. провайдера. Отправьте запрос повторно. В случае
            повторения ошибки сообщите лог. провайдеру на почту it.prog@profresh.pro
            '
      parameters:
        - name: wmsid
          in: query
          description: >-
            Код клиента, выдается лог. провайдером при заключении договора о
            сотрудничестве
          required: true
          schema:
            type: string
          example: "0033"
        - name: action
          in: query
          description: >-
            Имя метода
          required: true
          schema:
            type: string
          example: "getconfirm"

  /РostProduct:
    post:
      tags:
        - 3. Дополнительно
      summary: 3.5. Создать, обновить Товар [postproduct]
      description: Создать обновить Товар (справочные данные)
      operationId: postproduct
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestBody_PostProduct'
      responses:
        200:
          description: 'ОК'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBody_PostProduct'
        400:
          description: 'Ошибка в парамтерах со стороны поставщика, не указан входной
            параметр WMSID
            '
        401:
          description: 'Ошибка аутентификации (логин, пароль, apikey)'
        403:
          description: 'Не настроен API доступ стороны лог. провайдера'
        404:
          description: 'Ошибка со стороны лог. провайдера блокировка параллельной обработкой данных'
        5XX:
          description: 'Ошибка сервера лог. провайдера. Отправьте запрос повторно. В случае
            повторения ошибки сообщите лог. провайдеру на почту it.prog@profresh.pro
            '
      parameters:
        - name: wmsid
          in: query
          description: >-
            Код клиента, выдается лог. провайдером при заключении договора о
            сотрудничестве
          required: true
          schema:
            type: string
          example: "0033"
        - name: action
          in: query
          description: >-
            Имя метода
          required: true
          schema:
            type: string
          example: "postproduct"

  /PostContractor:
    post:
      tags:
        - 3. Дополнительно
      summary: 3.6. Создать, обновить Контрагента [postcontractor]
      description: Создать обновить Контрагента (справочные данные)
      operationId: PostContractor
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestBody_PostContractor'
      responses:
        200:
          description: 'ОК'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBody_PostContractor'
        400:
          description: 'Ошибка в парамтерах со стороны поставщика, не указан входной
            параметр WMSID
            '
        401:
          description: 'Ошибка аутентификации (логин, пароль, apikey)'
        403:
          description: 'Не настроен API доступ стороны лог. провайдера'
        404:
          description: 'Ошибка со стороны лог. провайдера блокировка параллельной обработкой данных'
        5XX:
          description: 'Ошибка сервера лог. провайдера. Отправьте запрос повторно. В случае
            повторения ошибки сообщите лог. провайдеру на почту it.prog@profresh.pro
            '
      parameters:
        - name: wmsid
          in: query
          description: >-
            Код клиента, выдается лог. провайдером при заключении договора о
            сотрудничестве
          required: true
          schema:
            type: string
          example: "0033"
        - name: action
          in: query
          description: >-
            Имя метода
          required: true
          schema:
            type: string
          example: "postcontractor"
          
components:
  schemas:
    RequestBody_PostShipment:
      type: object
      description: Шапка запроса (Заявки на ОТГРУЗКУ)
      required:
        - date
        - pcname
        - action
        - data
        - wmsid
      properties:
        date:
          type: string
          format: date-time
          description: Дата формирования запроса
          example: 2022-12-12T09:48:54.000Z
        pcname:
          type: string
          description: Имя компьютера, сформировавшего запрос
          example: srv1
        action:
          type: string
          description: Имя метода (дублирует имя метода в адресной строке)
          example: postshipment
        wmsid:
          type: string
          maxLength: 4
          description: Код клиента, выдается лог. провайдером при заключении договора о сотрудничестве. Тот же, что и в адресной строке запроса.
          example: "0035"
        data:
          type: array
          items:
            $ref: '#/components/schemas/Shipment'
          description: Список заявок на ОТГРУЗКУ
    RequestBody_UpdateShipment:
      type: object
      description: Шапка запроса (обновление взятой в работу Заявки на ОТГРУЗКУ)
      required:
        - date
        - pcname
        - action
        - data
        - wmsid
      properties:
        date:
          type: string
          format: date-time
          description: Дата формирования запроса
          example: 2022-12-12T09:48:54.000Z
        pcname:
          type: string
          description: Имя компьютера, сформировавшего запрос
          example: srv1
        action:
          type: string
          description: Имя метода (дублирует имя метода в адресной сторке)
          example: updateshipment
        wmsid:
          type: string
          maxLength: 4
          description: Код клиента, выдается лог. провайдером при заключении договора о сотрудничестве. Тот же, что и в адресной строке запроса.
          example: "0033"
        data:
          $ref: '#/components/schemas/ShipmentUpdate'
          description: Список идентификаторов заявок на ОТГРУЗКУ + значения обновляемых полей
          
    RequestBody_GetShipmentResult:
      type: object
      description: Шапка запроса (Результат обработки Заявок на ОТГРУЗКУ)
      required:
        - date
        - pcname
        - action
        - data
      properties:
        date:
          type: string
          format: date-time
          description: Дата формирования запроса
          example: 2022-12-12T09:48:54.000Z
        pcname:
          type: string
          description: Имя компьютера сформировавшего запрос
          example: srv1
        action:
          type: string
          description: Имя метода (дублирует имя метода в адресной сторке)
          example: getshipmentresult
        data:
          type: object
          description: Описание списка объектов находится в разработке
          properties:
            Вид:
              type: string
              description: |-
                Вариант отбор объектов для выгрузки (допускается незаполненный):
                  * ИД - будет вовращен объект с данным идентификатором (ваши иденияикатор)
                  * Дата - будут возвращены все объекты переданные вами с указанием данной даты/датыпоставки
                  * лпИД - поиск по ИД лог провайдера, тот ИД который вернулся от лог провайдера при первичной загрузке объекта
                  * лпДата - поиск по дате лог. провайдера. Будут возвращены все объекты указанного типа иеющиеся в базе лок. провайдера на указанную дату
              enum: [ИД,Дата,лпИД,лпДата]
              example: ИД
            ИД:
              type: string
              maxLength: 36
              description: Значение отбора по ИД (допускается незаполненный)
              example: bcf55a85-fa56-4f43-a2bb-b8e567134e29
            Дата:
              type: string
              format: date
              description: Значение отбора по Дате (допускается незаполненный)
              example: 2022-12-12
            лпИД:
              type: string
              maxLength: 36
              description: Значение отбора по лпИД (допускается незаполненный)
              example: 2c4a6daf-e06f-4992-a689-20af77b847ab
            лпНомер:
              type: string
              description: Значение отбора по лпНомер (допускается незаполненный)
              example: "LP-1400153012"  
    RequestBody_GetShipmentReturn:
      type: object
      description: Описание запроса находится в разработке. В случае необходимости использования его отправтье запрос с описание ваших целей на почту it.prog@profresh.pro
      required:
        - date
        - pcname
        - action
        - data
      properties:
        date:
          type: string
          format: date-time
          description: Дата формирования запроса
          example: 2022-12-12T09:48:54.000Z
        pcname:
          type: string
          description: Имя компьютера сформировавшего запрос
          example: srv1
        action:
          type: string
          description: Имя метода (дублирует имя метода в адресной сторке)
          example: getshipmentreturn
        data:
          type: object
          description: Описание списка объектов находится в разработке
          properties:
            Вид:
              type: string
              description: |-
                Вариант отбор объектов для выгрузки (допускается незаполненный):
                  * ИД - будет вовращен объект с данным идентификатором (ваши иденияикатор)
                  * Дата - будут возвращены все объекты переданные вами с указанием данной даты/датыпоставки
                  * лпИД - поиск по ИД лог провайдера, тот ИД который вернулся от лог провайдера при первичной загрузке объекта
                  * лпДата - поиск по дате лог. провайдера. Будут возвращены все объекты указанного типа иеющиеся в базе лок. провайдера на указанную дату
              enum: [ИД,Дата,лпИД,лпДата]
              example: ИД
            ИД:
              type: string
              maxLength: 36
              description: Значение отбора по ИД (допускается незаполненный)
              example: bcf55a85-fa56-4f43-a2bb-b8e567134e29
            Дата:
              type: string
              format: date
              description: Значение отбора по Дате (допускается незаполненный)
              example: 2022-12-12
            лпИД:
              type: string
              maxLength: 36
              description: Значение отбора по лпИД (допускается незаполненный)
              example: 2c4a6daf-e06f-4992-a689-20af77b847ab
            лпНомер:
              type: string
              description: Значение отбора по лпНомер (допускается незаполненный)
              example: "LP-1400153012"      
    RequestBody_PostReception:
      type: object
      description: Шапка запроса (Заявки на ПРИЕМКУ)
      required:
        - date
        - pcname
        - action
        - data
        - wmsid
      properties:
        date:
          type: string
          format: date-time
          description: Дата формирования запроса
          example: 2022-12-12T09:48:54.000Z
        pcname:
          type: string
          description: Имя компьютера, сформировавшего запрос
          example: srv1
        action:
          type: string
          description: Имя метода (дублирует имя метода в адресной строке)
          example: postreception
        wmsid:
          type: string
          maxLength: 4
          description: Код клиента, выдается лог. провайдером при заключении договора о сотрудничестве. Тот же, что и в адресной строке запроса.
          example: "0033"
        data:
          type: object
          description: Список заявок на ПРИЕМКУ
          $ref: '#/components/schemas/Reception'
    
    RequestBody_GetReceptionResult:
      type: object
      description: Шапка запроса (Заявки на ПРИЕМКУ)
      required:
        - date
        - pcname
        - action
        - data
        - wmsid
      properties:
        date:
          type: string
          format: date-time
          description: Дата формирования запроса
          example: 2022-12-12T09:48:54.000Z
        pcname:
          type: string
          description: Имя компьютера, сформировавшего запрос
          example: srv1
        action:
          type: string
          description: Имя метода (дублирует имя метода в адресной сторке)
          example: getreceptionresult
        wmsid:
          type: string
          maxLength: 4
          description: Код клиента, выдается лог. провайдером при заключении договора о сотрудничестве. Тот же, что и в адресной строке запроса.
          example: "0033"
        data:
          type: object
          description: Описание списка объектов находится в разработке
          properties:
            Вид:
              type: string
              description: |-
                Вариант отбор объектов для выгрузки (допускается незаполненный):
                  * ИД - будет вовращен объект с данным идентификатором (ваши иденияикатор)
                  * Дата - будут возвращены все объекты переданные вами с указанием данной даты/датыпоставки
                  * лпИД - поиск по ИД лог провайдера, тот ИД который вернулся от лог провайдера при первичной загрузке объекта
                  * лпДата - поиск по дате лог. провайдера. Будут возвращены все объекты указанного типа иеющиеся в базе лок. провайдера на указанную дату
              enum: [ИД,Дата,лпИД,лпДата]
              example: ИД
            ИД:
              type: string
              maxLength: 36
              description: Значение отбора по ИД (допускается незаполненный)
              example: bcf55a85-fa56-4f43-a2bb-b8e567134e29
            Дата:
              type: string
              format: date
              description: Значение отбора по Дате (допускается незаполненный)
              example: 2022-12-12
            лпИД:
              type: string
              maxLength: 36
              description: Значение отбора по лпИД (допускается незаполненный)
              example: 2c4a6daf-e06f-4992-a689-20af77b847ab
            лпНомер:
              type: string
              description: Значение отбора по лпНомер (допускается незаполненный)
              example: "LP-1400153012"
    
    RequestBody_GetReceptionReturn:
      type: object
      description: Описание запроса находится в разработке. В случае необходимости использования его отправтье запрос с описание ваших целей на почту it.prog@profresh.pro
      required:
        - date
        - pcname
        - action
        - data
      properties:
        date:
          type: string
          format: date-time
          description: Дата формирования запроса
          example: 2022-12-12T09:48:54.000Z
        pcname:
          type: string
          description: Имя компьютера сформировавшего запрос
          example: srv1
        action:
          type: string
          description: Имя метода (дублирует имя метода в адресной сторке)
          example: getshipmentreturn
        data:
          type: object
          description: Описание списка объектов находится в разработке
          properties:
            Вид:
              type: string
              description: |-
                Вариант отбор объектов для выгрузки (допускается незаполненный):
                  * ИД - будет вовращен объект с данным идентификатором (ваши иденияикатор)
                  * Дата - будут возвращены все объекты переданные вами с указанием данной даты/датыпоставки
                  * лпИД - поиск по ИД лог провайдера, тот ИД который вернулся от лог провайдера при первичной загрузке объекта
                  * лпДата - поиск по дате лог. провайдера. Будут возвращены все объекты указанного типа иеющиеся в базе лок. провайдера на указанную дату
              enum: [ИД,Дата,лпИД,лпДата]
              example: ИД
            ИД:
              type: string
              maxLength: 36
              description: Значение отбора по ИД (допускается незаполненный)
              example: bcf55a85-fa56-4f43-a2bb-b8e567134e29
            Дата:
              type: string
              format: date
              description: Значение отбора по Дате (допускается незаполненный)
              example: 2022-12-12
            лпИД:
              type: string
              maxLength: 36
              description: Значение отбора по лпИД (допускается незаполненный)
              example: 2c4a6daf-e06f-4992-a689-20af77b847ab
            лпНомер:
              type: string
              description: Значение отбора по лпНомер (допускается незаполненный)
              example: "LP-1400153012"
    
    RequestBody_GetChanges:
        type: object
        description: в разработке
        properties:
          date:
            type: string
            format: date-time
            description: Дата формирования запроса
            example: 2022-12-12T09:48:54.000Z           
          pcname:
            type: string
            description: Имя компьютера, сформировавшего запрос
            example: srv1
          action:
            type: string
            description: Имя метода (дублирует имя метода в адресной сторке)
            example: getchenges
          wmsid:
            type: string
            maxLength: 4
            description: Код клиента, выдается лог. провайдером при заключении договора о сотрудничестве. Тот же, что и в адресной строке запроса.
            example: "0033"
    
    RequestBody_GetFilesReturn:
      type: object
      description: Описание запроса находится в разработке. В случае необходимости использования его отправтье запрос с описание ваших целей на почту it.prog@profresh.pro
      required:
        - date
        - pcname
        - action
        - data
      properties:
        date:
          type: string
          format: date-time
          description: Дата формирования запроса
          example: 2022-12-12T09:48:54.000Z
        pcname:
          type: string
          description: Имя компьютера сформировавшего запрос
          example: srv1
        action:
          type: string
          description: Имя метода (дублирует имя метода в адресной сторке)
          example: getshipmentreturn
        data:
          type: object
          description: Описание списка объектов находится в разработке
          properties:
            Вид:
              type: string
              description: |-
                Вариант отбор объектов для выгрузки:
                  * Дата - будут возвращены все объекты переданные вами с указанием данной даты/датыпоставки
              enum: [Дата]
              example: Дата
            Дата:
              type: string
              format: date
              description: Значение отбора по Дате
              example: 2022-12-12
            ВидДокумент:
              type: number
              maxLength: 1
              description: |- 
                  Вид документа, который требуется получить: 1 - Реестр Кросса, 2 - Паллетные лист
              example: 1
           
    RequestBody_PostProduct:
      type: object
      description: Шапка запроса. Ипользуется во всех запросах выборки документов
      required:
        - date
        - pcname
        - wmsid
        - action
        - data
      properties:
        date:
          type: string
          format: date-time
          description: Дата формирования выгрузки
          example: 2023-07-26T00:00:00
        pcname:
          type: string
          description: Имя устройства отправителя
          example: pcname
        wmsid:
          type: string
          maxLength: 4
          description: Код клиента, выдается лог. провайдером при заключении договора о сотрудничестве. Тот же, что и в адресной строке запроса.
          example: "0824"
        action:
          type: string
          description: Имя метода (дублирует имя метода в адресной сторке)
          example: postproduct
        data:
            type: object
            properties:
              product:
                type: array
                description: Объект Товар (содержит массив данных товара)
                items:
                  type: object
                  properties:
                    ИД:
                      type: string
                      maxLength: 36
                      description: ИД товара (для Синхронизации)
                      example: 1136813
                    Код:
                      type: string
                      maxLength: 36
                      description: Код товара (для Людей)
                      example: 1136813
                    Наименование:
                      type: string
                      maxLength: 150
                      description: Наименование товара
                      example: КАПУСТА КОНИЧЕСКАЯ 0.5 КГ ВЕС
                    СрокХранения:
                      type: integer
                      description: Срок хранения товара в днях
                      example: 14
                    GTIN:
                      type: string
                      maxLength: 14
                      description: Код GTIN товара
                      example: 4600000000010
                    Весовой:
                      type: boolean
                      description: Признак весового/штучного товара
                      example: false
                    ВесовойШК:
                      type: boolean
                      description: Признак того что в ШК содержится вес товара
                      example: false
                    Коэффициент:
                      type: integer
                      format: float
                      description: Вес единицы продкуции в кг. Для весового всегда 1
                      example: 0.5
                    Высота:
                      type: integer
                      description: Высота упаковки
                      example: 0
                    Ширина:
                      type: integer
                      description: Ширина упаковки
                      example: 0
                    Глубина:
                      type: integer
                      description: Глубина упаковки
                      example: 0
                    УпакИмя:
                      type: string
                      description: Имя основоной упаковки товара
                      example: Короб
                    УпакКратность:
                      type: number
                      format: float
                      description: Количество единиц товара в основной упаковке
                      example: 8
                    ШК:
                      type: array
                      items:
                        type: string
                        description: Массив штрихкодов
                        example: 4600000000010
                    МаркировкаЧестныйЗнак:
                      type: boolean
                      description: Признак наличия на товаре маркировки ИС МП "Честный знак" 
                      example: false
                    GUID:
                      type: string
                      maxLength: 36
                      description: ГУИД продукции в ФГИС "Меркурий" (4-уровень)
                      example: f66ad2ab-bdbe-4fac-b527-31dd1af92e7b

    RequestBody_PostContractor:
      type: object
      description: Шапка запроса. Ипользуется во всех запросах выборки документов
      required:
        - date
        - pcname
        - wmsid
        - action
        - data
      properties:
        date:
          type: string
          format: date-time
          description: Дата формирования выгрузки
          example: 2023-07-26T00:00:00
        pcname:
          type: string
          description: Имя устройства отправителя
          example: pcname
        wmsid:
          type: string
          maxLength: 4
          description: Код клиента, выдается лог. провайдером при заключении договора о сотрудничестве. Тот же, что и в адресной строке запроса.
          example: "0824"
        action:
          type: string
          description: Имя метода (дублирует имя метода в адресной сторке)
          example: postcontractor
        data:
            type: object
            properties:
              contractor:
                type: array
                description: Объект Товар (содержит массив данных товара)
                items:
                  $ref: '#/components/schemas/Partner'
                  
    
    RequestBody_GetConfirm:
      type: object
      description: Тело запроса GetConfirm. Стандратные параметры + 2 управляющих параметра в структуре дата
      required:
        - date
        - pcname
        - action
      properties:
        date:
          type: string
          format: date-time
          description: Дата формирования запроса
          example: 2022-12-12T09:48:54.000Z
        pcname:
          type: string
          description: Имя компьютера сформировавшего запрос
          example: srv1
        wmsid:
            type: string
            maxLength: 4
            description: Код клиента, выдается лог. провайдером при заключении договора о сотрудничестве. Тот же, что и в адресной строке запроса.
            example: "0033"
        action:
          type: string
          description: Имя метода (дублирует имя метода в адресной сторке)
          example: getconfirm
        data:
          type: object
          
    RequestBody_GetRests:
      type: object
      description: Тело запроса GetRests. Стандратные параметры + 2 управляющих параметра в структуре дата
      required:
        - date
        - pcname
        - wmsid
        - action
        - data
      properties:
        date:
          type: string
          format: date-time
          description: Дата формирования запроса
          example: 2022-12-12T09:48:54.000Z
        pcname:
          type: string
          description: Имя компьютера сформировавшего запрос
          example: srv1
        wmsid:
            type: string
            maxLength: 4
            description: Код клиента, выдается лог. провайдером при заключении договора о сотрудничестве. Тот же, что и в адресной строке запроса.
            example: "0033"  
        action:
          type: string
          description: Имя метода (дублирует имя метода в адресной сторке)
          example: getrests
        data:
          type: object
          description: Тело запроса GetRests. Стандратные параметры + 2 управляющих параметра в структуре дата
          properties:
            Период:
              type: string
              format: date-time
              description: Необязательное. Дата, на которую необходимо получить остатки. Если параметр не заполнен, то будут получен актуальные остатки 
              example: 2023-04-15T11:23:54.000Z
            ТоварКод:
              type: string
              description: Необязательное. Код товара для, которого необходимо получить остатки. Если параметр не заполнен, то будут получен актуальные остатки
              example: 1099
      
    ResponseBody_PostShipment:
      type: object
      required:
        - date
        - result
        - resultid
        - data
      properties:
        date:
          type: string
          format: date-time
          description: Дата формирования ответа на запрос
          example: 2023-07-25T17:28:22
        result:
          type: boolean
          description: Общий результат обработки запроса (проверка на наличие общих ошибок)
          example: true
        resultid:
          type: string
          description: идентификатор результата обработки запроса в базе лог. провайдера
          example: 381c5457-3a7e-4b6d-b075-d8318ff779f4
        resulttext:
          type: string
          description: >-
            Описание общей ошибки выполнения при ее наличии (если общих ошибок
            нет, то пусто)
          example: null
        infolist:
          type: array
          items:
            type: integer
          description: Список информационных сообщений от лог. провайдера
          example: null
        data:
          type: object
          description: Описание списка объектов находится в разработке
          $ref: '#/components/schemas/ResponsBodyData'
    ResponseBody_GetShipmentResult:
      type: object
      description: ответ на запрос ResponseBody_GetShipmentReturn
      properties:
        date:
          type: string
          format: date-time
          description: Дата формирования ответа на запрос
          example: 2023-07-25T17:28:22
        result:
          type: boolean
          description: Общий результат обработки запроса (проверка на наличие общих ошибок)
          example: true
        resultid:
          type: string
          description: Идентификатор результата обработки запроса в базе лог. провайдера
          example: 381c5457-3a7e-4b6d-b075-d8318ff779f4
        resulttext:
          type: string
          description: >-
            Описание общей ошибки выполнения при ее наличии (если общих ошибок
            нет, то пусто)
          example: null
        infolist:
          type: array
          items:
            type: integer
          description: Список информационных сообщений от лог. провайдера
          example: null
        data:
          type: object
          description: Массив объектов Заявка на ПРИЕМКУ (резульат отгрузки по заявке)
          properties:
            shipmentresult:
              type: array
              items:
                properties:
                  ИД:
                    type: string
                    maxLength: 36
                    description: Уникальный идентификатор объекта, получен от вас при загрузке
                    example: 582a827c-ffcb-11ed-862a-0cc47ab4064f
                  Номер:
                    type: string
                    maxLength: 36
                    description: Номер (визуальный идентификатор), получен от вас при загрузке
                    example: БП003434
                  Дата:
                    type: string
                    format: date
                    description: Дата объекта, полученная от вас при загрузке
                    example: 2022-12-12
                  лпИД:
                    type: string
                    maxLength: 36
                    description: Уникальный идентификатор объекта, присвоенный на стороне лог. провайдера
                    example: 2c4a6daf-e06f-4992-a689-20af77b847ab
                  лпНомер:
                    type: string
                    maxLength: 36
                    description: Номер (визуальный идентификатор), присвоенный на стороне лог. провайдера
                    example: LP-1400153012
                  лпДата:
                    type: string
                    format: date
                    description: Дата объекта,присвоенный на стороне лог. провайдера
                    example: 2022-12-12
                  ДатаТТН:
                    type: string
                    format: date
                    description: Дата объекта,присвоенный на стороне лог. провайдера
                    example: 2022-12-12
                  НомерТТН:
                    type: string
                    maxLength: 36
                    description: Номер на бумажной накладной
                    example: 3434
                  лпКомментарий:
                    type: string
                    maxLength: 150
                    description: Комментарий к текущему документу.
                    example: Доставили в целости и сохранности.
                  Проведен:
                    type: boolean
                    description: Признак активности документа
                    example: true
                  Товары:
                    type: array
                    description: Массив товаров документа
                    items:
                      properties:
                        Код:
                          type: string
                          maxLength: 36
                          description: Уникальный идентфикатор номенклатуры. Используется для синхронизации данных.
                          example: fe226852-2bd7-4b53-be16-784bd69b21f1
                        Наименование:
                          type: string
                          maxLength: 150
                          description: Наименование товара (Использвется в документах Торг12 и СФ)
                          example: Колбаса докторская,  кг                         
                        ДатаВыработки:
                          type: string
                          format: date-time
                          description: Дата выработки товара
                          example: 2023-01-01T00:00:00
                        Партия:
                          type: string
                          description: Номер партии товара
                          example: ""
                        Статус:
                          type: string
                          description: в разработке
                          example: Свежий
                        Количество:
                          type: integer
                          description: Количество товара (в базовой ед. измерения)
                          example: 25
                        Коэффициент:
                          type: integer
                          description: >-
                            Вес одной единицы штучного товара (базовая ЕИ) в кг. Для весового
                            товара = 1
                          example: 0.55
                        Вес:
                          type: number
                          format: float
                          description: Общий вес брутто по документу [кг]
                          example: 25
                        Цена:
                          type: number
                          format: float
                          description: Цена товара за единицу
                          example: 100
                        Сумма:
                          type: number
                          format: float
                          description: Сумма товара за указанное количество
                          example: 2500
                        НомерСтрокиПоставщика:
                          type: string
                          description: в разработке 
                          example: ""
                        ЕдиницаИзмерения:
                          type: string
                          description: Единица измерения товара
                          example: Шт
                        Марки:
                          type: array
                          description: Массив марок ЧЗ отгруженных товаров документа
                          items:                          
                            type: object
                            format: string
                            description: Значение марки ЧЗ товара
                            example: "2384758923475827345, 3845834582345328465"       
                  ВидОперацииЗаказа:
                    type: integer
                    description: в разработке
                    example: 1
                  ДатаПоставки:
                    type: string
                    format: date-time
                    description: в разработке
                    example: 2023-07-19T00:00:00
                  КоличествоМест:
                    type: integer
                    description: в разработке
                    example: 60
                  КоличествоПаллет:
                    type: integer
                    description: в разработке
                    example: 0
                  Поставщик:
                    type: string
                    maxLength: 150
                    description: в разработке
                    example: ""
                  CтатусОтгрузки:
                    type: string
                    maxLength: 150
                    description: в разработке
                    example: Отгружен
                  CтатусОтгрузкиДетальный:
                    type: string
                    maxLength: 150
                    description: в разработке
                    example: Распечатан     
    ResponseBody_GetShipmentReturn:
      type: object
      description: ответ на запрос ResponseBody_GetShipmentResult
      properties:
        date:
          type: string
          format: date-time
          description: Дата формирования ответа на запрос
          example: 2023-07-25T17:28:22
        result:
          type: boolean
          description: Общий результат обработки запроса (проверка на наличие общих ошибок)
          example: true
        resultid:
          type: string
          description: Идентификатор результата обработки запроса в базе лог. провайдера
          example: 381c5457-3a7e-4b6d-b075-d8318ff779f4
        resulttext:
          type: string
          description: >-
            Описание общей ошибки выполнения при ее наличии (если общих ошибок
            нет, то пусто)
          example: null
        infolist:
          type: array
          items:
            type: integer
          description: Список информационных сообщений от лог. провайдера
          example: null
        data:
          type: object
          description: Массив объектов Заявка на ПРИЕМКУ (резульат отгрузки по заявке)
          properties:
            shipmentreturn:
              type: array
              items:
                properties:
                  ИД:
                    type: string
                    maxLength: 36
                    description: Уникальный идентификатор объекта, получен от вас при загрузке
                    example: 582a827c-ffcb-11ed-862a-0cc47ab4064f
                  Номер:
                    type: string
                    maxLength: 36
                    description: Номер (визуальный идентификатор), получен от вас при загрузке
                    example: БП003434
                  Дата:
                    type: string
                    format: date
                    description: Дата объекта, полученная от вас при загрузке
                    example: 2022-12-12
                  лпИД:
                    type: string
                    maxLength: 36
                    description: Уникальный идентификатор объекта, присвоенный на стороне лог. провайдера
                    example: 2c4a6daf-e06f-4992-a689-20af77b847ab
                  лпНомер:
                    type: string
                    maxLength: 36
                    description: Номер (визуальный идентификатор), присвоенный на стороне лог. провайдера
                    example: LP-1400153012
                  лпДата:
                    type: string
                    format: date
                    description: Дата объекта,присвоенный на стороне лог. провайдера
                    example: 2022-12-12
                  ДатаТТН:
                    type: string
                    format: date
                    description: Дата объекта,присвоенный на стороне лог. провайдера
                    example: 2022-12-12
                  НомерТТН:
                    type: string
                    maxLength: 36
                    description: Номер на бумажной накладной
                    example: 3434
                  лпКомментарий:
                    type: string
                    maxLength: 150
                    description: Комментарий к текущему документу.
                    example: Доставили в целости и сохранности.
                  Проведен:
                    type: boolean
                    description: Признак активности документа
                    example: true
                  Товары:
                    type: array
                    description: Массив товаров документа
                    items:
                      properties:
                        Код:
                          type: string
                          maxLength: 36
                          description: Уникальный идентфикатор номенклатуры. Используется для синхронизации данных.
                          example: fe226852-2bd7-4b53-be16-784bd69b21f1
                        Наименование:
                          type: string
                          maxLength: 150
                          description: Наименование товара (Использвется в документах Торг12 и СФ)
                          example: Колбаса докторская,  кг                         
                        ДатаВыработки:
                          type: string
                          format: date-time
                          description: Дата выработки товара
                          example: 2023-01-01T00:00:00
                        Партия:
                          type: string
                          description: Номер партии товара
                          example: ""
                        Статус:
                          type: string
                          description: в разработке
                          example: Свежий
                        Количество:
                          type: integer
                          description: Количество товара (в базовой ед. измерения)
                          example: 25
                        Коэффициент:
                          type: integer
                          description: >-
                            Вес одной единицы штучного товара (базовая ЕИ) в кг. Для весового
                            товара = 1
                          example: 0.55
                        Вес:
                          type: number
                          format: float
                          description: Общий вес брутто по документу [кг]
                          example: 25
                        Цена:
                          type: number
                          format: float
                          description: Цена товара за единицу
                          example: 100
                        Сумма:
                          type: number
                          format: float
                          description: Сумма товара за указанное количество
                          example: 2500
                        НомерСтрокиПоставщика:
                          type: string
                          description: Номер строки товара в документах 
                          example: ""
                        ЕдиницаИзмерения:
                          type: string
                          description: Единица измерения товара
                          example: Шт
                        ТоварПоступилНаСклад:
                          type: boolean
                          description: Товар поступил на склад или нет.
                          example: true 
                        ПричинаВозвратСправочно:
                          type: string
                          description: Краткое описание причины возврата.
                          example: Недовоз завода               
    ResponseBody_PostReception:
      type: object
      required:
        - date
        - result
        - resultid
        - data
      properties:
        date:
          type: string
          format: date-time
          description: Дата формирования ответа на запрос
          example: 2022-12-12T09:48:54.000Z
        result:
          type: boolean
          example: true
          description: Общий результат обработки запроса (проверка на наличие общих ошибок)
        resultid:
          type: string
          description: идентификатор результата обработки запроса в базе лог. провайдера
          example: 338fd9b8-8ac8-46ae-91f2-bf64ea3966f6
        resulttext:
          type: string
          description: >-
            Описание общей ошибки выполнения при ее наличии (если общих ошибок
            нет, то пусто)
          example: null
        infolist:
          type: array
          items:
            type: integer
          description: Список информационных сообщений от лог. провайдера
          example: null
        data:
          properties:
            reception:
              type: array
              items:
                type: object
                required:
                  - ИД
                  - Номер
                  - лпИД
                  - лпНомер
                  - лпДата
                  - Загружен
                  - СписокОшибок
                properties:
                  ИД:
                    type: string
                    maxLength: 36
                    description: Идентификатор объекта, из полученного запроса
                    example: 4521921946
                  Номер:
                    type: string
                    maxLength: 30
                    example: 4521921946
                    description: Номер документа из полученного запроса
                  лпИД:
                    type: string
                    maxLength: 36
                    description: >-
                      идентификатор присвоенный объекту (заявка на приемку, заявка на
                      отгрузку) в базе лог. провайдера
                    example: bdb6c056-79f8-11ed-80f8-000c290e4173
                  лпНомер:
                    type: string
                    maxLength: 30
                    description: >-
                      Номер присвоенный объекту (заявка на приемку, заявка на отгрузку) в
                      базе лог. провайдера
                    example: 116644
                  лпДата:
                    type: string
                    format: date-time
                    description: >-
                      Дата присвоенная объекту (заявка на приемку, заявка на отгрузку) в
                      базе лог. провайдера
                    example: 2022-12-12T11:41:16.000Z
                  Загружен:
                    type: boolean
                    example: false
                    description: >-
                      Признак успешной загрузки объекта (заявка на приемку, заявка на
                      отгрузку) из запроса
                  СписокОшибок:
                    type: array
                    items:
                      $ref: '#/components/schemas/Error'
                    description: Список информационных сообщений от лог. провайдера
    
    ResponseBody_GetReceprionResult:
      type: object
      description: ответ на запрос ResponseBody_GetShipmentResult
      properties:
        date:
          type: string
          format: date-time
          description: Дата формирования ответа на запрос
          example: 2023-07-25T17:28:22
        result:
          type: boolean
          description: Общий результат обработки запроса (проверка на наличие общих ошибок)
          example: true
        resultid:
          type: string
          description: Идентификатор результата обработки запроса в базе лог. провайдера
          example: 381c5457-3a7e-4b6d-b075-d8318ff779f4
        resulttext:
          type: string
          description: >-
            Описание общей ошибки выполнения при ее наличии (если общих ошибок
            нет, то пусто)
          example: null
        infolist:
          type: array
          items:
            type: integer
          description: Список информационных сообщений от лог. провайдера
          example: null
        data:
          type: object
          description: Массив объектов Заявка на ПРИЕМКУ (резульат отгрузки по заявке)
          properties:
            receptionresult:
              type: array
              items:
                properties:
                  ИД:
                    type: string
                    maxLength: 36
                    description: Уникальный идентификатор объекта, получен от вас при загрузке
                    example: 582a827c-ffcb-11ed-862a-0cc47ab4064f
                  Номер:
                    type: string
                    maxLength: 36
                    description: Номер (визуальный идентификатор), получен от вас при загрузке
                    example: БП003434
                  Дата:
                    type: string
                    format: date
                    description: Дата объекта, полученная от вас при загрузке
                    example: 2022-12-12
                  лпИД:
                    type: string
                    maxLength: 36
                    description: Уникальный идентификатор объекта, присвоенный на стороне лог. провайдера
                    example: 2c4a6daf-e06f-4992-a689-20af77b847ab
                  лпНомер:
                    type: string
                    maxLength: 36
                    description: Номер (визуальный идентификатор), присвоенный на стороне лог. провайдера
                    example: LP-1400153012
                  лпДата:
                    type: string
                    format: date
                    description: Дата объекта,присвоенный на стороне лог. провайдера
                    example: 2022-12-12
                  ДатаТТН:
                    type: string
                    format: date
                    description: Дата объекта,присвоенный на стороне лог. провайдера
                    example: 2022-12-12
                  НомерТТН:
                    type: string
                    maxLength: 36
                    description: Номер на бумажной накладной
                    example: 3434
                  лпКомментарий:
                    type: string
                    maxLength: 150
                    description: Комментарий к текущему документу.
                    example: Доставили в целости и сохранности.
                  Проведен:
                    type: boolean
                    description: Признак активности документа
                    example: true
                  Товары:
                    type: array
                    description: Массив товаров документа
                    items:
                      properties:
                        Код:
                          type: string
                          maxLength: 36
                          description: Уникальный идентфикатор номенклатуры. Используется для синхронизации данных.
                          example: fe226852-2bd7-4b53-be16-784bd69b21f1
                        Наименование:
                          type: string
                          maxLength: 150
                          description: Наименование товара (Использвется в документах Торг12 и СФ)
                          example: Колбаса докторская,  кг                         
                        ДатаВыработки:
                          type: string
                          format: date-time
                          description: Дата выработки товара
                          example: 2023-01-01T00:00:00
                        Партия:
                          type: string
                          description: Номер партии товара
                          example: ""
                        Статус:
                          type: string
                          description: в разработке
                          example: Свежий
                        Количество:
                          type: integer
                          description: Количество товара (в базовой ед. измерения)
                          example: 25
                        Коэффициент:
                          type: integer
                          description: >-
                            Вес одной единицы штучного товара (базовая ЕИ) в кг. Для весового
                            товара = 1
                          example: 0.55
                        Вес:
                          type: number
                          format: float
                          description: Общий вес брутто по документу [кг]
                          example: 25
                        Цена:
                          type: number
                          format: float
                          description: Цена товара за единицу
                          example: 100
                        Сумма:
                          type: number
                          format: float
                          description: Сумма товара за указанное количество
                          example: 2500
                        НомерСтрокиПоставщика:
                          type: string
                          description: в разработке 
                          example: ""
                        ЕдиницаИзмерения:
                          type: string
                          description: Единица измерения товара
                          example: Шт
                  Контрагент:
                    type: object
                    description: Массив товаров в ОТГРУЗКЕ
                    properties:
                      Код:
                        type: string
                        maxLength: 36
                        description: >-
                          Номер в учетной системе заказчика (для зрительной идентификации
                          операторами)
                        example: К0001
                      Наименование:
                        type: string
                        maxLength: 150
                        description: Наименование контрагента, плательщика по документам Торг12 и СФ
                        example: Рога и копыта
                      ИНН:
                        type: string
                        maxLength: 15
                        description: ИНН контрагента (плательщика)
                        example: 523456789789
                      КПП:
                        type: string
                        maxLength: 15
                        description: КПП контрагента (плательщика)
                        example: 789456123
                      ОКПО:
                        type: string
                        maxLength: 8
                        description: ОКПО контрагента
                        example: 50235599
                      GLN:
                        type: string
                        maxLength: 15
                        description: GLN контрагента
                        example: 78945612345
                      Адрес:
                        type: string
                        maxLength: 250
                        description: Юр. адрес контрагента. Для грузополучателя указывается факт. адрес
                        example: Москва, ул. Радужная, д. 43
                      Банк:
                        type: string
                        maxLength: 150
                        description: Наименование банка контрагента
                        example: ПАО сбребанк
                      БИК:
                        type: string
                        maxLength: 15
                        description: БИК банка контрагента
                        example: 044525225
                      КорСчет:
                        type: string
                        maxLength: 30
                        description: Номер кор. счета  банка контрагента
                        example: 30101810400000000225
                      РасчетныйСчет:
                        type: string
                        maxLength: 30
                        description: Номер расчетный счет контрагента
                        example: 460000000074891
                      Телефон:
                        type: string
                        maxLength: 50
                        description: Телефон
                        example: 89627778899, 89627778850
    ResponseBody_GetReceptionReturn:
      type: object
      description: ответ на запрос ResponseBody_GetReceptionReturn
      properties:
        date:
          type: string
          format: date-time
          description: Дата формирования ответа на запрос
          example: 2023-07-25T17:28:22
        result:
          type: boolean
          description: Общий результат обработки запроса (проверка на наличие общих ошибок)
          example: true
        resultid:
          type: string
          description: Идентификатор результата обработки запроса в базе лог. провайдера
          example: 381c5457-3a7e-4b6d-b075-d8318ff779f4
        resulttext:
          type: string
          description: >-
            Описание общей ошибки выполнения при ее наличии (если общих ошибок
            нет, то пусто)
          example: null
        infolist:
          type: array
          items:
            type: integer
          description: Список информационных сообщений от лог. провайдера
          example: null
        data:
          type: object
          description: Массив объектов Заявка на ПРИЕМКУ (резульат отгрузки по заявке)
          properties:
            receptionreturn:
              type: array
              items:
                properties:
                  ИД:
                    type: string
                    maxLength: 36
                    description: Уникальный идентификатор объекта, получен от вас при загрузке
                    example: 582a827c-ffcb-11ed-862a-0cc47ab4064f
                  Номер:
                    type: string
                    maxLength: 36
                    description: Номер (визуальный идентификатор), получен от вас при загрузке
                    example: БП003434
                  Дата:
                    type: string
                    format: date
                    description: Дата объекта, полученная от вас при загрузке
                    example: 2022-12-12
                  лпИД:
                    type: string
                    maxLength: 36
                    description: Уникальный идентификатор объекта, присвоенный на стороне лог. провайдера
                    example: 2c4a6daf-e06f-4992-a689-20af77b847ab
                  лпНомер:
                    type: string
                    maxLength: 36
                    description: Номер (визуальный идентификатор), присвоенный на стороне лог. провайдера
                    example: LP-1400153012
                  лпДата:
                    type: string
                    format: date
                    description: Дата объекта,присвоенный на стороне лог. провайдера
                    example: 2022-12-12
                  ДатаТТН:
                    type: string
                    format: date
                    description: Дата объекта,присвоенный на стороне лог. провайдера
                    example: 2022-12-12
                  НомерТТН:
                    type: string
                    maxLength: 36
                    description: Номер на бумажной накладной
                    example: 3434
                  лпКомментарий:
                    type: string
                    maxLength: 150
                    description: Комментарий к текущему документу.
                    example: Доставили в целости и сохранности.
                  Проведен:
                    type: boolean
                    description: Признак активности документа
                    example: true
                  Товары:
                    type: array
                    description: Массив товаров документа
                    items:
                      properties:
                        Код:
                          type: string
                          maxLength: 36
                          description: Уникальный идентфикатор номенклатуры. Используется для синхронизации данных.
                          example: fe226852-2bd7-4b53-be16-784bd69b21f1
                        Наименование:
                          type: string
                          maxLength: 150
                          description: Наименование товара (Использвется в документах Торг12 и СФ)
                          example: Колбаса докторская,  кг                         
                        ДатаВыработки:
                          type: string
                          format: date-time
                          description: Дата выработки товара
                          example: 2023-01-01T00:00:00
                        Партия:
                          type: string
                          description: Номер партии товара
                          example: ""
                        Статус:
                          type: string
                          description: в разработке
                          example: Свежий
                        Количество:
                          type: integer
                          description: Количество товара (в базовой ед. измерения)
                          example: 25
                        Коэффициент:
                          type: integer
                          description: >-
                            Вес одной единицы штучного товара (базовая ЕИ) в кг. Для весового
                            товара = 1
                          example: 0.55
                        Вес:
                          type: number
                          format: float
                          description: Общий вес брутто по документу [кг]
                          example: 25
                        Цена:
                          type: number
                          format: float
                          description: Цена товара за единицу
                          example: 100
                        Сумма:
                          type: number
                          format: float
                          description: Сумма товара за указанное количество
                          example: 2500
                        НомерСтрокиПоставщика:
                          type: string
                          description: Номер строки товара в документах 
                          example: ""
                        ЕдиницаИзмерения:
                          type: string
                          description: Единица измерения товара
                          example: Шт
                        ПричинаВозвратСправочно:
                          type: string
                          description: Краткое описание причины возврата.
                          example: Недовоз завода
                        ДокументОснования_лпИД:
                          type: string
                          maxLength: 36
                          description: Уникальный идентификатор объекта, присвоенный на стороне лог. провайдера
                          example: 2c4a6daf-e06f-4992-a689-20af77b847ab
    
    ResponseBody_GetChanges:
      type: object
      required:
        - date
        - result
        - resultid
        - data
      properties:
        date:
          type: string
          format: date-time
          description: Дата формирования ответа на запрос
          example: 2022-12-12T09:48:54.000Z
        result:
          type: boolean
          example: true
          description: Общий результат обработки запроса (проверка на наличие общих ошибок)
        resultid:
          type: string
          description: идентификатор результата обработки запроса в базе лог. провайдера
          example: 338fd9b8-8ac8-46ae-91f2-bf64ea3966f6
        resulttext:
          type: string
          description: >-
            Описание общей ошибки выполнения при ее наличии (если общих ошибок
            нет, то пусто)
          example: null
        infolist:
          type: array
          items:
            type: integer
          description: Список информационных сообщений от лог. провайдера
          example: null
        data:
          type: object
          properties:
            shipmentresult:
              type: array
              description: в разработке
              items:
                type: object
                properties:
                  ИД:
                    type: string
                    maxLength: 36
                    description: Уникальный идентификатор объекта, получен от вас при загрузке
                    example: 582a827c-ffcb-11ed-862a-0cc47ab4064f
                  Номер:
                    type: string
                    maxLength: 36
                    description: Номер (визуальный идентификатор), получен от вас при загрузке
                    example: БП003434
                  Дата:
                    type: string
                    format: date
                    description: Дата объекта, полученная от вас при загрузке
                    example: 2022-12-12
                  лпИД:
                    type: string
                    maxLength: 36
                    description: Уникальный идентификатор объекта, присвоенный на стороне лог. провайдера
                    example: 2c4a6daf-e06f-4992-a689-20af77b847ab
                  лпНомер:
                    type: string
                    maxLength: 36
                    description: Номер (визуальный идентификатор), присвоенный на стороне лог. провайдера
                    example: LP-1400153012
                  лпДата:
                    type: string
                    format: date
                    description: Дата объекта,присвоенный на стороне лог. провайдера
                    example: 2022-12-12
                  ДатаТТН:
                    type: string
                    format: date
                    description: Дата объекта,присвоенный на стороне лог. провайдера
                    example: 2022-12-12
                  НомерТТН:
                    type: string
                    maxLength: 36
                    description: Номер на бумажной накладной
                    example: 3434
                  лпКомментарий:
                    type: string
                    maxLength: 150
                    description: Комментарий к текущему документу.
                    example: Доставили в целости и сохранности.
                  Проведен:
                    type: boolean
                    description: Признак активности документа
                    example: true
                  Товары:
                    type: array
                    description: Массив товаров документа
                    items:
                      required:
                        - Код
                        - Наименование
                        - ДатаВыработки
                        - Коэффициент
                        - Количество
                        - ЕдиницаИзмерения
                      properties:
                        Код:
                          type: string
                          maxLength: 36
                          description: Уникальный идентфикатор номенклатуры. Используется для синхронизации данных.
                          example: fe226852-2bd7-4b53-be16-784bd69b21f1
                        Наименование:
                          type: string
                          maxLength: 150
                          description: Наименование товара (Использвется в документах Торг12 и СФ)
                          example: Колбаса докторская,  кг                         
                        ДатаВыработки:
                          type: string
                          format: date-time
                          description: Дата выработки товара
                          example: 2023-01-01T00:00:00
                        Партия:
                          type: string
                          description: Номер партии товара
                          example: ""
                        Статус:
                          type: string
                          description: в разработке
                          example: Свежий
                        Количество:
                          type: integer
                          description: Количество товара (в базовой ед. измерения)
                          example: 25
                        Коэффициент:
                          type: integer
                          description: >-
                            Вес одной единицы штучного товара (базовая ЕИ) в кг. Для весового
                            товара = 1
                          example: 0.55
                        Вес:
                          type: number
                          format: float
                          description: Общий вес брутто по документу [кг]
                          example: 25
                        Цена:
                          type: number
                          format: float
                          description: Цена товара за единицу
                          example: 100
                        Сумма:
                          type: number
                          format: float
                          description: Сумма товара за указанное количество
                          example: 2500
                        НомерСтрокиПоставщика:
                          type: string
                          description: в разработке 
                          example: ""
                        ЕдиницаИзмерения:
                          type: string
                          description: Единица измерения товара
                          example: Шт
                  ВидОперацииЗаказа:
                    type: integer
                    description: в разработке
                    example: 1
                  ДатаПоставки:
                    type: string
                    format: date-time
                    description: в разработке
                    example: 2023-07-19T00:00:00
                  КоличествоМест:
                    type: integer
                    description: в разработке
                    example: 60
                  КоличествоПаллет:
                    type: integer
                    description: в разработке
                    example: 0
                  Поставщик:
                    type: string
                    maxLength: 150
                    description: в разработке
                    example: ""
                  CтатусОтгрузки:
                    type: string
                    maxLength: 150
                    description: в разработке
                    example: Отгружен
                  CтатусОтгрузкиДетальный:
                    type: string
                    maxLength: 150
                    description: в разработке
                    example: Распечатан
            shipmentreturn:
              type: object
              description: в разработке
            receptionresult:
              type: array
              description: в разработке
              items:
                type: object
                properties:
                  ИД:
                    type: string
                    maxLength: 36
                    description: Уникальный идентификатор объекта, получен от вас при загрузке
                    example: 582a827c-ffcb-11ed-862a-0cc47ab4064f
                  Номер:
                    type: string
                    maxLength: 36
                    description: Номер (визуальный идентификатор), получен от вас при загрузке
                    example: БП003434
                  Дата:
                    type: string
                    format: date
                    description: Дата объекта, полученная от вас при загрузке
                    example: 2022-12-12
                  лпИД:
                    type: string
                    maxLength: 36
                    description: Уникальный идентификатор объекта, присвоенный на стороне лог. провайдера
                    example: 2c4a6daf-e06f-4992-a689-20af77b847ab
                  лпНомер:
                    type: string
                    maxLength: 36
                    description: Номер (визуальный идентификатор), присвоенный на стороне лог. провайдера
                    example: LP-1400153012
                  лпДата:
                    type: string
                    format: date
                    description: Дата объекта,присвоенный на стороне лог. провайдера
                    example: 2022-12-12
                  ДатаТТН:
                    type: string
                    format: date
                    description: Дата объекта,присвоенный на стороне лог. провайдера
                    example: 2022-12-12
                  НомерТТН:
                    type: string
                    maxLength: 36
                    description: Номер на бумажной накладной
                    example: 3434
                  лпКомментарий:
                    type: string
                    maxLength: 150
                    description: Комментарий к текущему документу.
                    example: Доставили в целости и сохранности.
                  Проведен:
                    type: boolean
                    description: Признак активности документа
                    example: true
                  Товары:
                    type: array
                    description: Массив товаров документа
                    items:
                      required:
                        - Код
                        - Наименование
                        - ДатаВыработки
                        - Коэффициент
                        - Количество
                        - ЕдиницаИзмерения
                      properties:
                        Код:
                          type: string
                          maxLength: 36
                          description: Уникальный идентфикатор номенклатуры. Используется для синхронизации данных.
                          example: fe226852-2bd7-4b53-be16-784bd69b21f1
                        Наименование:
                          type: string
                          maxLength: 150
                          description: Наименование товара (Использвется в документах Торг12 и СФ)
                          example: Колбаса докторская,  кг                         
                        ДатаВыработки:
                          type: string
                          format: date-time
                          description: Дата выработки товара
                          example: 2023-01-01T00:00:00
                        Партия:
                          type: string
                          description: Номер партии товара
                          example: ""
                        Статус:
                          type: string
                          description: в разработке
                          example: Свежий
                        Количество:
                          type: integer
                          description: Количество товара (в базовой ед. измерения)
                          example: 25
                        Коэффициент:
                          type: integer
                          description: >-
                            Вес одной единицы штучного товара (базовая ЕИ) в кг. Для весового
                            товара = 1
                          example: 0.55
                        Вес:
                          type: number
                          format: float
                          description: Общий вес брутто по документу [кг]
                          example: 25
                        Цена:
                          type: number
                          format: float
                          description: Цена товара за единицу
                          example: 100
                        Сумма:
                          type: number
                          format: float
                          description: Сумма товара за указанное количество
                          example: 2500
                        НомерСтрокиПоставщика:
                          type: string
                          description: в разработке 
                          example: ""
                        ЕдиницаИзмерения:
                          type: string
                          description: Единица измерения товара
                          example: Шт
                  Контрагент:
                    type: object
                    description: Массив товаров в ОТГРУЗКЕ
                    properties:
                      Код:
                        type: string
                        maxLength: 36
                        description: >-
                          Номер в учетной системе заказчика (для зрительной идентификации
                          операторами)
                        example: К0001
                      Наименование:
                        type: string
                        maxLength: 150
                        description: Наименование контрагента, плательщика по документам Торг12 и СФ
                        example: Рога и копыта
                      ИНН:
                        type: string
                        maxLength: 15
                        description: ИНН контрагента (плательщика)
                        example: 523456789789
                      КПП:
                        type: string
                        maxLength: 15
                        description: КПП контрагента (плательщика)
                        example: 789456123
                      ОКПО:
                        type: string
                        maxLength: 8
                        description: ОКПО контрагента
                        example: 50235599
                      GLN:
                        type: string
                        maxLength: 15
                        description: GLN контрагента
                        example: 78945612345
                      Адрес:
                        type: string
                        maxLength: 250
                        description: Юр. адрес контрагента. Для грузополучателя указывается факт. адрес
                        example: Москва, ул. Радужная, д. 43
                      Банк:
                        type: string
                        maxLength: 150
                        description: Наименование банка контрагента
                        example: ПАО сбребанк
                      БИК:
                        type: string
                        maxLength: 15
                        description: БИК банка контрагента
                        example: 044525225
                      КорСчет:
                        type: string
                        maxLength: 30
                        description: Номер кор. счета  банка контрагента
                        example: 30101810400000000225
                      РасчетныйСчет:
                        type: string
                        maxLength: 30
                        description: Номер расчетный счет контрагента
                        example: 460000000074891
                      Телефон:
                        type: string
                        maxLength: 50
                        description: Телефон
                        example: 89627778899, 89627778850
            receptionreturn:
              type: object
              description: в разработке
            correction:
              type: object
              description: в разработке
            invent:
              type: object
              description: в разработке

    ResponseBody_GetFilesReturn:
      type: object
      required:
        - date
        - result
        - resultid
        - data
      properties:
        date:
          type: string
          format: date-time
          description: Дата формирования ответа на запрос
          example: 2022-12-12T09:48:54.000Z
        result:
          type: boolean
          example: true
          description: Общий результат обработки запроса (проверка на наличие общих ошибок)
        resultid:
          type: string
          description: идентификатор результата обработки запроса в базе лог. провайдера
          example: 338fd9b8-8ac8-46ae-91f2-bf64ea3966f6
        resulttext:
          type: string
          description: >-
            Описание общей ошибки выполнения при ее наличии (если общих ошибок
            нет, то пусто)
          example: null
        infolist:
          type: array
          items:
            type: integer
          description: Список информационных сообщений от лог. провайдера
          example: null
        data:
          type: object
          properties:
            resullist:
              type: array
              items:
                type: object
                properties:
                  Файл:
                    type: string
                    description: Файл представленный в виде двоичных данных
                    example: "JVBERi0xLjcKJeLjz9MKMSAwIG9iago8PAovRmlsdGVyIC9GbGF0ZURlY29kZQov\r\nTGVuZ3RoIDIgMCBSCi9MZW5ndGgxIDI1ODU2Ci9MZW5ndGgyIDAKL0xlbmd0aDMg\r\nMAo+PgpzdHJlYW0KeJztfAlYXNXZ/3vuvbOwD/uwziWEIcmwhZAQEgwzbAmSAAKJ\r\noFIZYJBRwhCWpLFqojVV0dpYrV20NdqqaV0yDC6QmEprbft1M62tn3b5zNdqNdX8\r\nTfu5Vc3M9zvn3mGJ0aftf3m+//M4k3PPe8559/c977mXq0OMiCJpL8mk9u4cU0NP\r\nPbQRMw8Smbr7hy/Zfjg//j4iczSRccMlg7v7t++8bZQodjNR3BUDHnffa1+6DOtZ\r\nPwbNmgFMJFxlfpEoG0NaOrB97NP9m01ujJdi3DHo6wW8706Mr8D4ou3uTw+b44wX\r\nYvw8xuqQe7vH81bXaxi/S1QWNzziGZab1zxM1GYmin/LcJgyRbufMhU7ZRKFXgq3\r\noDf0El/jvfQXIpalNf0TgEX/zpYxlabYe5RK77I0tpIaSKF3YPkhOk1foiRqp9tZ\r\nAi2lFNpKDUwBjoNuYneEdoZO0Dn0Rbon9Di7JvQdrH+BfkjvQoP/UBiVUxPwt5KH\r\nTsgvU2foa2Sm6yiK1lMrSyE3PYfvW9DhVrqNvsuuCL0LqUl0DfhVkotcoe+FPqAV\r\ndJOy3/B8xKN0Cx1hxlBvyAsnLqEJyRF6LvQi2amTvkkPQicHm1U2UQ5dRvvoKyxN\r\n/iGgL9G3KMiipS65xvAkJDXQNhqiXTRB36GfsATWYnjecCr0mdArZKREWgadvHSC\r\nrWZbpHuV6NCG0G/pQpqhH8Ne/p1VLlTuN1wYrAp9PfR9SqbHWSR7gn3PUGq4+fTV\r\nobtDD1M09FkJjzRBTg99lr5H/0Z/pb9Je0J7aBO1QfLTLIupzA6PPyelSVdJV8nP\r\nUhGs7YK243QX+RGRw3SEjsI3v6Pj9DJLYhnsXNbDbmF/k6KlPukZ+Q75EfnXClO+\r\nDX/nUh58NEb30mP0M/o5PcMM4F/CWtilzMe+zL7Ojkt+6XXpHcWsfFZ5XzltsAeP\r\nB98PNYXeIiul02a6nPbAt9+kKXqEfkG/ob/Rf9HbzMLWsgF2N/Oz4+x1KUJaIjVL\r\nw9Lt0r3SQ3KTfIv8PWW1Uq1cpvxc+a3hc4YbTW5T8IP7grcGHwr+MvR46JfInVjw\r\nt1M9PHo1suJeepKeBfcX6A/0R54/4L+eXcA+BSmj7Hp2G3uIPc1+yf4CK0l8l0jr\r\npVpI9Ukj8NM10q3SbZD+DL7HpN9Kf5Bek96SDfISeY28Q75b9svT8jH5z4pFsStF\r\nykqlWblACSEypYaNhjbDQcMDhu8bThkrjX3GYeOrpmtM15p/dnrF6f8IUnAg6A9O\r\nIXfNyKTL4Ylv0D3I+0cQg5/Ao7+AxsfpTUQhneWwfOhdwepZI9vCzmcXMQ+7hl3H\r\nvsi+wu5g97CHYQFskEzQ3SG5pDbJLXmka6XrpM9Lj+B7WPo36TnpeekkNE+Vc2WH\r\nvFJukC+QL5SHYMOYfJV8LTx7i/wd+Rn5WfkV+VX5JKKWqmQr48rlyleV+5VHlF8a\r\nNhu243uP4UnDrOGXhg8MHxglY7ox01hsvNR40PhHk9G0xtRiusH0a9N/mYdZJlsB\r\nzVVa8JHSsAezpe9IScoedhITWUyhOFjuQBzasCv+i6rkIOISy9ehW7KUpiRySqNT\r\n8YN+jB2h1exp2mOUZFRJ5TgF2O+l48pT0jn0G9bN0pT75SHDT6QcegDVaL/0hHSE\r\nVdMjUqW0TbpTJvYyO0gvI98/Tbexy9goPcBOsnXsSlbO9tCvpRS5jV1LlaF7JIVF\r\nsAZ2iqABXa300afoYz+sgn5PJ4LfUGKUK1Cfpul2RPRBepF9m95jhtDrqG4yqpEb\r\nVeYm5Ps+4lWvC/tsD/ZjGirIoPEZeoQZUeHLjRuUy+kU/Z1OGA4jo6pRSV8JepVv\r\nKH8KlYcKscOwy+gg9t0AbcSOeRlZchRjProIOz0StaQUu7qFLqA+uhJV75aQP3Rn\r\n6LOh3SEf/RS077EC9h47gB0xDYpK+jG+X6AX2I3Yhxs/3s6P+gT7aJb+wqwsj5Vi\r\nP5w07DTsN3zH8Ijhu4afG1fC29fSHcjoPyKbI2FBL/2S/kLvMDNik0YFVAZ910L3\r\nDhqUOuWjVMPSaRh7dhnqeLVuySi4XAPv3Yn9fBR74xTqxEX0XXqeSSwVFvVCvhl8\r\nGuHni4F9HyL4WTaFmT5U7RX0GuyOZWulMchzgtPtqFqz0On39Gd4OyT0KkBdqGXb\r\nwOsdOp/6IGENtbBJROAxqkBlrZV/Bn8vZRaqZkvYt0DXjR0aS1lUYfgTk6gg2BRa\r\nK3nlozhjQpg/gNMrg85hO6BFHOw4TcmsmVYHW6HDs0xW/OxXQouvSp7QdfKu4CD9\r\nlL6NmDiVnaZaZUTZp7zvrN7a7qzacE7l+nUVa8tXl60qXVlSXFRY4FixfFm+PW9p\r\n7pIc1ZadlZmRnmZNTUlOSkyIt8TFxkRHRUaYTUaDIkuMCupy67tVv73br9hzN20q\r\n5ONcNybcCya6/Sqm6hfj+NVugaYuxnQCs/8MTKeG6ZzDZBa1kioLC9S6XNX/89pc\r\ndZpdcF4H4M/X5naq/pMC3iLg/QKOAZyTAwK1zjpQq/pZt1rnr985MFHXXQt2k1GR\r\nNbk1nsjCApqMjAIYBcifmjs8yVI3MAFIqXXrJiUyx0Apf3pubZ0/LbeWa+CX8+rc\r\nff6W8zrqajNycjoLC/yspje3x0+51f44h0ChGiHGb6zxm4QY1cutoRvVyYLZiZum\r\nLdTT7Yjuy+1zX9Thl92dXEa8A3Jr/amXv2SdH4J5Qk3HdQtXM+SJOqtX5cOJietU\r\n/+x5HQtXc/i1sxM8QCvl1XdP1EP0TXBiY5sKadK+zg4/2weRKreEW6XZ58mt4zPd\r\nl6r+iNzq3IGJS7sRmvQJP7XuzgmkpztnQscpvU6daO/IzfFXZeR2umszJ5NoonX3\r\nVJpTTVu8UlgwaYnXHDsZG6cD0TELAc/cmoAEOocaW+c8y7hGuQ1ICL/aq0KTjlzY\r\ntJZfPGtponct0PDpZKDy9yEiXn9ETfeEZR2f5/R+Q54lV514i5ABuSdfXzzj1meM\r\neZa3iIM8T+ZSDeth2O9w+Fes4CliqkFMoeMGMV5dWLBzWlqTO2xR0cF91ALfujvX\r\nFcP9OTk8wDdOO6kHA//e8zq0sUo9GQFyFjs6/VI3X5kNryRv5St7wytz5N25yORH\r\niN/JJ/vN9rl/cZaUxLqBdX6W8jHLHm29sS238bwLOtS6iW7dt43ti0ba+tq5NR3y\r\nJ9Z0yBmSDkkZslhFUl40h8wHHdF+JQ//jCKp+/wyklJMMLXeb+nepF07I3NyPpJm\r\n2mReQDQdOsWpRDdPpmvpX+dYPF6/aLxIu+gJGfoqdqmx/YKJichFa/UoQBMT9blq\r\n/UT3hHs6tLcnV7XkTsxI90v3TwzXdYcDOh06fGOGv/6mThgxwNYhWSWqnsxl1583\r\n6WTXt13QMWPB48317R0BiUk13dWdk0ux1jGD+xWnmJX4LJ/kA5UPqJEhzwOSWeBn\r\nzDiJ9opVRUyIce80IzFnDs8x6p2WtDmLJsguBDlxp9k7rWgrzjC2gjmzNrdXw16m\r\nY5uxYuErhwk1ncSi9uFFo6a9Y2E6iD3WWchvuXiOGfDFHYiJqh+RWNBompaqnIlk\r\nUIIyRZqUIKM0s9EQlOQnmJ0icONtJavD8nbl6comy5uVW05XUhVgywe4rCzJic+J\r\nz8OFQdcPVHn2A6eB3idVmYWs0HvBWcPVeOaLxTPNec6V5dEboy+JluPySJIi4/NM\r\nZkNEgipJhjxVKVFmFVlRkuNUNZbFxsarUVHmvIjik6v4v66T8fwCmIorq05XVlad\r\nXFnCulhO/Kr4XMjPjV+1JiHeYJFz4lmU/NbVb3/gefuKC9ex9N1SoeHw+5Wnf8Kc\r\nwVlpzRPsr+yKC0/3BX8h/wKneIhaQ68qX1M2SEay8Ns2uh73kJJSiDuEB5xLDKZk\r\nk3SJYZf1hpQb0pS0zLSsNKvVnpqUlIqWlm5NyJyW7n1Ekig7GoAzJ9JIxlRrdmR/\r\nwg0JkjUpLUFJjYqiVEuqlJqqsix79nRodioiuoz3zkR1admBbGbJPpUtHeeX7Cqb\r\n5XTXjhGH43Qlt3ZVcXxqRRc8XVlVdTI+oaL4dAWuFdcZihyxV1p+wBIqKL6Ce4G6\r\nEnPi16wpx3dVaWrqEtx2G00pqSmpiTmy3Q73XM+s9euWr3E6B9Rm5rPZlq68aN9F\r\nBuPXg7+6yVG1IfiqYg82met3fr2gwHA4OWX7rUvyvh8ZFfwdW9W1OriehJ9ig+cp\r\nrdiARooXfroDOdSHO+potse5NNKZlFpm4pcrTVdGSpEl0TFlJn6RSqJjyyKsadll\r\n5unQq84IADIfsenQcTGKUOPi+RpGAGQLLlg7pY2WRcTw0fMB9JNGntHOCCbJEWZD\r\nlNE4LT0QMMRGHZEe4DkNf6ZHrIAOuETyixRpkqOR4UZjRHSk8GFlfEJqhcPhYMUn\r\nLb8+yQcZU2ZJxrPanc5IkznJZDKzyIgIPsyQWJKEKmCKlCNkZjSawUM2m1iEFBnL\r\nQxeF0MVWqqYSk2TiIU1KLsMOesCZbXDmLC0zGCzSk6gWHJak4sgqeMQJlMjD0DU6\r\nNPsoqKOrYixvO046ulalFeNiLebwnx08vvEVFVxfKAwVebCvu/IH1xVZedeJaDvm\r\nPoTW5XAk5jDGNwDLleNz78CDIMxgF74RPH3qnVOK/XSm9NL7v5WOnK7jTYulCzmf\r\nL3I+YS7ntyCWUdQ2QxHSmDPnGIyXohQymqIiFZPd6ITKh4wsZGTGyhgWaY/iXojm\r\nCRzFTkWxqKpoy9tIXJQErYMBUL8CO3ZlSSKvD/r3ejzbfJGlB/8cHAq+gqz7DNv3\r\n/m/Zd4PVQo9klKTnoIeJaifhWCgSSUZDZIQTWybiMB4BEOapyOgyaZrNBBS7YVob\r\nGvjQ9AOz5e03HaffdPzZQVVVvC4l5iQLocny94IPBl8JPqjY//TBUblG+ODG4KDy\r\nZeGDRDFugE+KxDhJjLdiXCXGyXM+Khe61cyQAapZySgjP+yS8I3EQnBZZYTRbppz\r\njYmdMjFTlVn45KTlTX7ljlngk+vlQ1Dss9wX7/9WrvngqJA1AlkqZCXSpkfN8dfF\r\nS0ZeXTLi4ig6gpDP9jfgci42qjJZsh9PZInTWlYlViUhq7pO8osIQnF8RTHE8QKR\r\nnJSSsqq0XMg15i6x21ePsEybZ0tjF0sLvvKtbVf/YjMCcv7Wc5awpxGTgwW+h/ZD\r\nl7TQ/1Jugi5JVDtD5tCxxyLiyoxmZkB0HoEHIi08TEmRUXBEZYrRHpfEkpJ80Sz6\r\nB8mWt7tKi3dAFxh9skrU6x0O3fAkI1TIX12aCpXWrH5Rfij4avDq9v4dNUMR9gJr\r\nRbpwR3Uw97FbixKekeRGscfDtZpi8Iz4ZeemV9kr5ncS30lWfiS9apAS0gxpEVKn\r\nZVvitpRO65elrxi/Yv5y9HTEb6TfGX4f8ZvoVwyvGF+Nsdxv/qn0M+NT5h9GG8bN\r\nNxivNcvxsCAQGZUqDFFMSRWm9O6M4QwpIzaH0tI7XFYHzrwtJ5ssO97eIkzhDt3R\r\nxbp21KAeeS39Cf0pXqvCujoJk4llCSjClJxEuUuW2vOShIFl9twlxtaJ03f+lZUF\r\n/+31LwbfmWDq7UNDX/rS0NDt0pKbmHEi+KM3/hp86trQwW8cPHjgzoMHeR7oNZcS\r\nWdkjCcsMPMzHndbouDJzSkxcmYlfjPxiSMGcxPPOlr6uzGA0KjFRsUaLRIlGJVFS\r\nZJkxMiZ2W5hlmh1yJkTFxRTHLiM1uSS5O1k+lcyS+UZaYi/jvTMhM7ssOTU1XamQ\r\nnda0sj0yk6dZvjNCEiMkOR8lsApyZq4pU6kEcUlL+sEB4aUux5bTabjin/V0U52n\r\n9s8Ox46RLZY3X4LfuoqrKi344tyKx8mVUCFqnSnWgq1KDq2udTX6LW2N/nW4awko\r\nFjocOkUsdGpStrC1+HTidhObDwdJbEx8VaIlMQ2XBGsVCsGpKQx4H8BY49WZmJOI\r\n2miKlZFq+TwO5bHMEXyX5QZvqMmrOX9Py3lNadWrez6VhioZK/3tA2mmq+ecJfG/\r\njxntFH+aCtdJ5H4m++YMWULvOuujKr4a8bWY2y0HDfdHHok4EjOdbjYnsU3SRmN9\r\nZHP2wZjHjI+l/yjyx9HPRT4f/a7pnZiYzLjMZGdGVlmyMza+LC75yeRnkmXh8Ljs\r\nKtHHpqKXPu+Mjot
[...]
